body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #222;
}

header {
    background: #111;
    color: white;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.hero {
    padding: 100px 8%;
    background: #ffdd33;
}